# Ignore build outputs
**/bin/
**/obj/

# User-specific files
*.user
*.userosscache
*.suo
*.sln.docstates

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Dependency directories
packages/
**/packages/